<div id="page-artists">
  <% items.forEach((item) => { %>
  <div class="box">
    <div>
      <% if(item.images.length >0){%>
      <img src="<%- item.images[0].url %>" />
      <% } %>
    </div>
    <div class="name"><%- item.name %></div>
    <button>
      <a href="/albums/<%-item.id%>">View Albums</a>
    </button>
  </div>
  <% }) %>
</div>
